/* ALL */

@font-face
{
    font-family: "techno";
    src: url("Logostile.ttf") format('truetype');
}
.card-title, .titre
{
    font-family: "techno";
}

.card
{
    background-color: #edf3f8ea;
    border: 0px;
    margin-top: 2.5em;
    text-align: center;
}

.titre
{
    background-color: #d3ebffea;
    text-align: center;
}

.groupe_barette 
{
    display: flex;
    flex-direction: column;
    margin-left: 90%; 
}

.barette
{
    width: 50px;
    height: 10px;
    background-color: #98d1ffea;
    transform: rotate(130deg);
    margin-bottom: 2em;
    margin-top: -0.8em;
}
.barette_1
{
    margin-top: -2.5em;
}

.btn
{
    background: none;
    border: 3px solid #ffae00;
    border-radius: 15px;
    color: #ffae00;
}

.btn:hover
{
    background-color: #ffae00;
    color: #fff;
    border: 3px solid #a87301;
}



body
{
    background-color:  #edf3f8ea;
}

.equipe
{
    margin-bottom: 50px;
}

.marge_carte{
    margin: 7em;
}

footer
{
    background-color: #f8f9fa;
    color: rgb(0, 0, 0);
}

.menu_footer
{
    color: rgb(0, 0, 0);
    margin-bottom: -0.6em;
}

.menu_footer:hover
{
    color: rgb(0, 183, 255);
}

#footer_RS, #newsletter_btn
{
    margin-top: 3em;
    margin-left: 6em;
}

#footer_logo
{
    margin-top: 3em;
}
/* Réseau */
#bouton_rs {
    display:flex;
    position : relative;
    top:30px;
}

/* Equipe */
#video_presentation{
    display: flex;
    margin : auto;
    margin-bottom: 5em;
}

/* Blog */
.article
{
    margin-bottom: 5em;
    margin-top: 5em;
}

/* index */
#cache_accueil{
    display: none;
}

.centrer_index{
    text-align: center;
    padding-top: 3em;
}

video{
    padding : 2em;
    z-index: 4;
}

#logo_au_dessus_video{
    z-index: 5;
    margin-top : 10em;
}
/* Accueil */
.typewrite
{
    background-color: #0c0c0c;
    color: white;
    
}

