<<<<<<< HEAD
/* ALL */
.card
=======
.equipe
>>>>>>> footer
{
    margin-bottom: 50px;
}

<<<<<<< HEAD
.marge_carte{
    margin: 7em;
}

/* Réseau */

#bouton_rs {
    display:flex;
    position : relative;
    top:30px;
}

/* Equipe */
#video_presentation{
    display: flex;
    margin : auto;
    margin-bottom: 5em;
}
=======
/* Toute les pages */
footer
{
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
}

.menu_footer
{
    color: rgb(255, 255, 255);
    margin-bottom: -0.6em;
}

.menu_footer:hover
{
    color: white;
}

#footer_RS, #newsletter_btn
{
    margin-top: 3em;
    margin-left: 2em;
}

#footer_logo
{
    margin-top: 3em;
}
>>>>>>> footer
